@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HospitalBD</h1>
    <p>En el menú superior se encuentra una opción para ir a la sección donde se pueden realizar consultas a la base de datos</p>
</div>
